@import 'variables/colors';
@import 'mixins/lessPrefixer.less';
@import 'mixins/fontStyles.less';
@import 'event.less';

@timelineLeftPadding: 5em;
@timelineBaseColor: @CDark;

ul.timeline{
    width: 50em;
    margin: 0 0 0 2em;
    padding: 0 1em 0 0;
    list-style: none;
    position: relative;
    min-height: 100%;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 5px;
        background: @timelineBaseColor;
        left: @timelineLeftPadding;
        margin-left: -20px;
    }

    >li{
        .event();
    }

}
